<%= render 'shared/homepage_hero' %>
<div class="container-fluid">
<%= render 'shared/search_section' %>
<%= render 'shared/results' %>
</div>
<%= render 'shared/footer_hero' %>
<%= render 'shared/modal' %>