<!-- start of modal -->
<div class="modal fade" id="modal-container-287366" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">
			Stack Overflow Search (SOS)
				</h4>
			</div>
			<div class="modal-body">
  Stack Overflow Search (SOS) is an Information Retrieval (IR) project to let the user to take advantage of several new features that are not currently fully supported in the StackFlow such as:				<li>Filtering</li>
				<li>Ranking</li>
				<li>Saving the result (coming soon)</li>
				It is developed using various technologies including Ruby/Rails, ElasticSearch, PostgreSQL to address user queries efficiently and effectively.			</div>
			<div class="modal-footer">
				 
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button> 
				<!--<button type="button" class="btn btn-primary">-->
				<!--	Save changes-->
				<!--</button>-->
			</div>
		</div>
		
	</div>
	
</div>


<div class="modal fade" id="modal-adavnce" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">
						Advance Search - Stack Overflow Search (SOS)
				</h4>
	
				
			<!--	<form action="/questions" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
				
				
   				 <input type="text" name="q" id="q" placeholder="Search" class="form-control input-lg ui-autocomplete-input" autocomplete="off">
   				 <input type="text" name="q" id="q" placeholder="Tag" class="form-control input-lg ui-autocomplete-input" autocomplete="off">

					<form>
					  <input type="radio" name="gender" value="English" checked> English
					  <input type="radio" name="gender" value="Spanish"> Spanish
					</form>
					  <input type="submit" value="Submit">

				</form>-->
				
				<div class="searchpadding">
					<header>

						<%= form_tag questions_path, method: :get do %>
						<%= text_field_tag :q, nil, placeholder: "Search", class: 'form-control input-lg' %>
						<%= check_box_tag(:lan_en, "english") %>
						<%= label_tag(:lan_english, "English") %>
						<%= check_box_tag(:lan_sp, "spanish") %>
						<%= label_tag(:lan_spanish, "Spanish") %>
						</br>
						<%= label_tag(:sort_option_caption, "Sort") %>
						<%= select_tag(:sort_option, options_for_select([['Asc', 1], ['Desc', 2]], selected: :sort_option )) %>
						
						<%= label_tag(:per_page_caption, "Per_Page") %>
						<%= select_tag(:per_page, options_for_select([['20', 1], ['50', 2], ['100', 2]], selected: :per_page )) %>


						<% end %>
						
					<!--	<% if @questions.suggestions %>
						<p>Did you mean: <%= @questions.suggestions.first %></p>
						<% end %>-->
					</header> 
				</div>
				
				
			</div>
		</div>
		
	</div>
	
</div>
<!--<div class="searchpadding">
<header>
  <%= link_to "All Questions", questions_path %>

  <%= form_tag questions_path, method: :get do %>
    <%= text_field_tag :q, nil, placeholder: "Search", class: 'form-control input-lg' %>
  <% end %>

  <% if @questions.suggestions %>
    <p>Did you mean: <%= @questions.suggestions.first %></p>
  <% end %>
</header> 
</div>-->
<!-- end of modal -->